<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="SYS_LOG_DIR" value="/app/log"/>
    <property name="LOG_FILE" value="myGenProject" />
    <conversionRule conversionWord="ip" converterClass="com.currentbp.net.IpConvert" />
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%X{currentOperatorId}] [%X{invokeNo}] [%ip] %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SYS_LOG_DIR}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SYS_LOG_DIR}/history/${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%ip] %5p ${PID:- } --- [%t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>
    <appender name="serviceAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${SYS_LOG_DIR}/${LOG_FILE}.error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${SYS_LOG_DIR}/history/${LOG_FILE}.%d{yyyy-MM-dd}.error.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%ip] [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- project default level -->
    <logger name="com" level="INFO" />
    <logger name="org" level="ERROR" />


    <logger name="org.springframework.transaction" level="TRACE" additivity="true"/>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="rollingFile" />
        <appender-ref ref="serviceAppender"/>
        <!--<appender-ref ref="ASYNC_USER_PROFILE_MODEL"/>-->
    </root>

</configuration>